<app-navbar></app-navbar>
<!-- <div class="container">
    <div class='info'>
      <h1 style="font-family: 'Times New Roman', Times, serif;">
        Welcome to, Taselux! 😊
      </h1>
      <h3 style="font-family: 'Times New Roman', Times, serif;">
        Savour every moment, one recipe at a time.
      </h3>
      <br><br><br>
      <button class="explore">Explore Recipes</button>
  </div>
<div class="image">
    <a href='#' class='food'>
        <img src='/assets/food.jpeg'>
      </a>
</div>
</div> -->
<img src='/assets/food.jpeg' alt="Description of the image" class="bottom-image">