<app-navbar></app-navbar>
<section id="home">
<div class="content">
<h1 class="welcome">Welcome to, Tastelux! 🥗</h1>
<h3 class="slogan">
  Savour every moment, one <span class="recipe">recipe</span> at a time.
</h3>
<button class="explore">Explore Recipes</button>
<img src='/assets/food.jpeg' alt="Description of the image" class="bottom-image">
</div>
</section>
<section id="about">
  <h1 class="aboutus">About Us</h1>
  <!-- <div class="plate"></div> -->
  <!-- <img src='/assets/about.jpeg' alt="Description of the image" class="about-image"> -->
</section>
<section id="about">
  <h1 class="contactus">Contact Us</h1>
  <!-- <div class="plate"></div> -->
  <!-- <img src='/assets/about.jpeg' alt="Description of the image" class="about-image"> -->
</section>
<!-- <div class="container">
    <div class='info'>
      <h1 style="font-family: 'Times New Roman', Times, serif;">
        Welcome to, Taselux! 😊
      </h1>
      <h3 style="font-family: 'Times New Roman', Times, serif;">
        Savour every moment, one recipe at a time.
      </h3>
      <br><br><br>
      <button class="explore">Explore Recipes</button>
  </div>
<div class="image">
    <a href='#' class='food'>
        <img src='/assets/food.jpeg'>
      </a>
</div>
</div> -->