<app-navbar></app-navbar>
<section id="home">
<div class="content">
<h1 class="welcome">Welcome to, Tastelux! 🥗</h1>
<h3 class="slogan">
  Savour every moment, one <span class="recipe">recipe</span> at a time.
</h3>
<button class="explore" (click)="onLogin()">Explore Recipes</button>

<img src='/assets/food.jpeg' alt="Description of the image" class="bottom-image">
</div>
</section>
<section id="about">
  <div class="about-content">
    <img src="/assets/about.webp" alt="Description of the image" class="about-image">
    <div class="about-text">
      <h1 style="position: relative; right: 10px; font-size: 40px;">About Us</h1>
      <br><br>
      <div class="scrollable-content">
      <p style="font-size: 20px;">
        Welcome to Tastelux, where we believe every meal is a moment worth savoring. 
        <br>
        Our passion is to curate the finest global recipes, ensuring each dish brings joy and flavor to your table.
        <br>
        At Tastelux, we're here to inspire and support your culinary journey with a diverse range of recipes, expert tips, and a vibrant community. 
        <br>
        Whether you're a seasoned chef or just starting out, join us in savouring every moment, one recipe at a time.
        <br><br><br>
        <span class="tag">Savour every moment with Tastelux.</span>
      </p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <h1 class="contactus">Contact Us</h1>
</section>
