.bottom-image {
    position: fixed;
    bottom: 0;
    right: 0; /* Adjust right distance from the edge of the page or container */
    // transform: translateX(-50%);
    width: 50%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-top-left-radius: 100%; /* Rounded corner for top-left */
    border-bottom-left-radius: 100%;
    border-top-right-radius: 20px;
    height: 100%;
    top: 145px;
    margin-right: 20px;
    opacity: 0.8;
  }