.searchBtn {
  width: fit-content;
  padding-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}
.bi {
  margin-left: 10px;
  padding-right: 10px;
  color: #dab49d;
}
.bi-person-circle {
  color: #dab49d;
  padding-right: 50px;
}
