<header class="profile-header">
    <div class="header-background">
      <!-- Background photo -->
      <img src="/assets/header.jpg" alt="Header Background">
    </div>
    <div class="profile-photo">
      <!-- Profile photo -->
      <img src="/assets/me.jpg" alt="Profile Photo">
    </div>
    <!-- <div class="profile-details">
      Profile details
      <h1>User's Name</h1>
      <p>Email: userexample.com</p>
      Additional profile details
    </div> -->
  </header>
  
  <main>
    <!-- Main content of the profile page -->
    <section class="profile-section">
      <h2>Lunginno</h2>
      <p style="color: #335314; font-weight: 600;">sifumbalungile</p>
      <p>do it with passion or not at all! ❤️</p>
    </section>
    <!-- More sections or content as needed -->
  </main>
  
