<!-- my-component.component.html -->
<div class="page-background">
    <div class="image-container">
        <img src="/assets/food.jpeg" alt="Login Background Image" class="logo-img">
      </div>
      <div class="login-content">
        <a class="navbar-brand">
            <img
              src="assets/tastelux-high-resolution-logo-transparent.png"
              style="width: 200px;"
              alt="logo"
            />
          </a>
          <br><br>
          <h1 class="heading">
            Welcome to TasteLux! 
          </h1>
          <h6 class="subheading">
            savour every moment, one recipe at a time. 
          </h6>
          <br>
           <input class="details" type="text" placeholder="👤 | Username:">
          <br>
          <input class="details" type="text" placeholder="🔑 | Password: ">
          <br>
          <button class="login">LOGIN</button>
      </div>
</div>

