<app-navbar></app-navbar>
<div class="body">
  <div class="content">
    <div class="title">
      <h1 style="color: #45622a;">{{ meal?.strMeal }}</h1>
    </div>
    <div class="info">
      <p>SERVES<span style="color: #45622a; font-weight: 900;"> {{ meal?.strServings || 'N/A' }}</span></p>
      <p>|</p>
      <p>PREP<span style="color: #45622a; font-weight: 900;"> {{ meal?.strPrepTime || 'N/A'}} min</span></p>
      <p>|</p>
      <p>COOK<span style="color: #45622a; font-weight: 900;"> {{ meal?.strCookTime || 'N/A' }} min</span></p>
      <p>|</p>
      <p>READY<span style="color: #45622a; font-weight: 900;"> {{ meal?.strReadyTime || 'N/A' }} min</span></p>
    </div>
    <div class="container">
      <div class="left-div">
        <h1 class="ing" style="color: #45622a;">Ingredients</h1>
        <p style="margin-left: 20px;">
          <span *ngFor="let ingredient of getIngredients()">{{ ingredient }}<br></span>
        </p>
      </div>
      <div class="right-div">
        <img [src]="meal?.strMealThumb" class="recipeimg" alt="Recipe Image">
        <h1 class="dir" style="color: darkgreen;">Directions</h1>
        <p style="margin-left: 30px; margin-right: 120px;">
          {{ meal?.strInstructions }}
        </p>
      </div>
    </div>
  </div>
</div>
