// .body
// {
//     background-image: url("/assets/background.jpeg"); /* Replace with your image path */
//     background-size: cover; /* Ensures the image covers the entire div */
//     background-position: center; /* Centers the image within the div */
//     background-repeat: no-repeat; /* Prevents the image from repeating */
// }
.body
{
    background-color: rgba(200, 193, 147, 0.7);
}
.title
{
    height: 100px;
    border: 2px solid black; /* Example border style */
    padding: 20px;
    text-align: center;
    border-left: none;
    border-right: none;
    
}
.info
{
    height: 70px;
    border: 2px solid black; /* Example border style */
    border-top: none;
    padding: 20px;
    text-align: center;
    border-left: none;
    border-right: none;
    
}
.info p {
    display: inline-block; /* Make <p> elements inline */
    margin: 0; /* Remove default margins */
}
.info p:not(:last-child) {
    margin-right: 10px; /* Add space between <p> elements */
}
.container {
    display: flex; /* Use flexbox to align divs side by side */
    border-top: 1px solid #ccc; /* Border on top of the container */
    border: none;
}
.content
{
    background-color: #c8c193;
    margin-left: 250px;
    margin-right: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.left-div {
    flex: 1; /* Take up remaining space */
    border-right: 1px solid #ccc; /* Border on the right side */
    padding: 10px; /* Example padding */
    border-right: 2px solid black; /* Black right border */
}

.right-div {
    flex: 2; /* Take slightly more space than left-div */
    padding: 10px; /* Example padding */
    border: none;
}
.recipeimg
{
    height: 300px;
    width: 40%;
    margin-left: 30%;
    margin-top: 40px;
}
.dir
{
    margin-top: 30px;
    margin-left: 20px;
}
.ing
{
    margin-left: 5px;
    margin-bottom: 15px;
}