<div class="title">
    <h1>AVOCADO TOAST WITH EGG</h1>
</div>
<div class="info">
    <p>SERVES<span> 2</span></p>
    <p>|</p>
    <p>PREP<span> 5 min</span></p>
    <p>|</p>
    <p>COOK<span> 5 min</span></p>
    <p>|</p>
    <p>READY<span> 10 min</span></p>
</div>
<div class="container">
    <div class="left-div">
        <h1>Ingredients</h1>
    </div>
    <div class="right-div">
        <img src="/assets/login.jpeg" class="recipeimg" alt="">
        <h1 class="dir">Directions</h1>
    </div>
</div>
