<body class="body">
  
<app-navbar></app-navbar>
<br><br>
<div class="container">
    <div class="card1 text-center">
        <!-- <div class="card-header">
          Featured
        </div> -->
        <div class="card-body1">
          <h5 class="card-title">TRADITIONAL</h5>
          <p class="card-text">Timeless flavors, crafted with heritage.</p>
        </div>
        <!-- <a href="#" class="btn-go btn-primary">Let's Go!</a> -->
        <!-- <div class="card-footer text-body-secondary">
          2 days ago
        </div> -->
      </div>
      <br>
      <div class="card2 text-center">
        <!-- <div class="card-header">
          Featured
        </div> -->
        <div class="card-body2">
          <h5 class="card-title">NON-TRADITIONAL</h5>
          <p class="card-text">Bold twists on tradition, redefining flavor.</p>
        </div>
        <!-- <a href="#" class="btn-go btn-primary">Let's Go!</a> -->
        <!-- <div class="card-footer text-body-secondary">
          2 days ago
        </div> -->
      </div>
</div>
<br>
<div class="card-quote">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>"Food is memories." </p>
        <footer class="blockquote-footer">José Andrés<cite title="Source Title"> 75 Best Food Quotes and Captions | On the Line</cite></footer>
      </blockquote>
    </div>
  </div>
</body>