<app-navbar></app-navbar>
<div class="rect-container">
  <div class="rect">
    <img src="/assets/pizza.jpeg" class="round-image" alt="Top Image">
  </div>
  <div class="text-content">
    <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;">Delicious Moments, Just a Few Scrolls Away!</h1>
    <p>Explore our curated collection of recipes designed to delight your taste buds. From everyday meals to special treats, find inspiration for every occasion and make your cooking experience extraordinary.</p>
  </div>
</div>
<br><br>
<!-- <h2 class="categories">Popular Categories</h2> -->
<div class="category-grid">
  <a [routerLink]="['/categories', 'Breakfast']" class="category">
    <div class="circle-container">
      <img src="/assets/breakfast.jpeg" alt="Breakfast">
    </div>
    <div class="category-label">Breakfast</div>
  </a>
  <a [routerLink]="['/categories', 'Pasta']" class="category">
    <div class="circle-container">
      <img src="/assets/pasta.jpeg" alt="Pasta">
    </div>
    <div class="category-label">Pasta</div>
  </a>
  <a [routerLink]="['/categories', 'Seafood']" class="category">
    <div class="circle-container">
      <img src="/assets/seafood.jpeg" alt="Sea Food">
    </div>
    <div class="category-label">Sea Food</div>
  </a>
  <a [routerLink]="['/categories', 'Vegan']" class="category">
    <div class="circle-container">
      <img src="/assets/vegan.jpeg" alt="Vegan">
    </div>
    <div class="category-label">Vegan</div>
  </a>
  <a [routerLink]="['/categories', 'Dessert']" class="category">
    <div class="circle-container">
      <img src="/assets/dessert.jpeg" alt="Desserts">
    </div>
    <div class="category-label">Desserts</div>
  </a>
  <a [routerLink]="['/categories', 'Side']" class="category">
    <div class="circle-container">
      <img src="/assets/sidedish.jpeg" alt="Side Dishes">
    </div>
    <div class="category-label">Side Dishes</div>
  </a>
</div>



<!-- <div class="scat">
<h2 class="super">Super Delicious</h2>
<h5>Top picks from each category 😋 - picked with love by TasteLux</h5>
</div> -->
<br>
<!-- <div class="card-container">
  <div class="card">
    <img src="/assets/pasta.jpeg" alt="Recipe 1">
    <div class="card-info">
      <div class="card-info-inner">
        <div class="rating">★★★★☆</div>
        <div class="title">Delicious Dish</div>
        <div class="author">TasteLux</div>
        <div class="recipe-type">Pasta</div>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="/assets/pizza.jpeg" alt="Recipe 1">
    <div class="card-info">
      <div class="card-info-inner">
        <div class="rating">★★★★☆</div>
        <div class="title">Delicious Dish</div>
        <div class="author">TasteLux</div>
        <div class="recipe-type">Pizza</div>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="/assets/vegan.jpeg" alt="Recipe 1">
    <div class="card-info">
      <div class="card-info-inner">
        <div class="rating">★★★★☆</div>
        <div class="title">Delicious Dish</div>
        <div class="author">TasteLux</div>
        <div class="recipe-type">Vegan</div>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="/assets/dessert.jpeg" alt="Recipe 1">
    <div class="card-info">
      <div class="card-info-inner">
        <div class="rating">★★★★☆</div>
        <div class="title">Delicious Dish</div>
        <div class="author">TasteLux</div>
        <div class="recipe-type">Dessert</div>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="/assets/smoothie.jpeg" alt="Recipe 1">
    <div class="card-info">
      <div class="card-info-inner">
        <div class="rating">★★★★☆</div>
        <div class="title">Delicious Dish</div>
        <div class="author">TasteLux</div>
        <div class="recipe-type">Smoothie</div>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="/assets/breakfast.jpeg" alt="Recipe 1">
    <div class="card-info">
      <div class="card-info-inner">
        <div class="rating">★★★★☆</div>
        <div class="title">Delicious Dish</div>
        <div class="author">TasteLux</div>
        <div class="recipe-type">Breakfast</div>
      </div>
    </div>
  </div>
  
</div> -->

<footer class="body">
<div class="card-quote">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>"Food is memories." </p>
        <footer class="blockquote-footer">José Andrés<cite title="Source Title"> 75 Best Food Quotes and Captions | On the Line</cite></footer>
      </blockquote>
    </div>
  </div>
</footer>
